<article class='about-article'>
    <h1 class='main-tagline'>
      Stories Application
    </h1>
    <h2>
      Stories automatically creates a digital journal filled with only your best photos.
    </h2>
    <%= link_to 'Signup'.html_safe, 'signups/new', class: "btn btn-outline-light learn-more" %>
</article>
