<article class='about-article'>
    <h1 class='main-tagline'>
      About
    </h1>
    <h2>
      Stories automatically creates a digital journal filled with only your best photos.
    </h2>
    <a href='/signup' type="button" class="btn btn-outline-light learn-more">Signup</a>
</article>
